asgiref==3.9.0
babel==2.17.0
charset-normalizer==3.4.2
colorama==0.4.6
Django==5.2.4
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
greenlet==3.2.3
Jinja2==3.1.6
lxml==6.0.0
MarkupSafe==3.0.2
pdfrw==0.4
pillow==11.3.0
playwright==1.53.0
pyee==13.0.0
PyJWT==2.9.0
reportlab==4.4.2
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
